@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta principal */
.bg-primary { background-color: #1e3a8a; }      /* azul oscuro */
.bg-primary-hover { background-color: #1e3a8a; } /* mismo azul, sin cambio al hover */
.text-white { color: white; }
.text-black { color: black; }
.border-none { border: none; }
.border-white { border: white; }
.placeholder-white::placeholder { color: white; opacity: 0.8; }

/* Cards y métricas */
.card-bg { background-color: #1e3a8a; }
.text-main { color: #1e293b; }
.text-sub { color: white; opacity: 0.5; }
.border-secondary { border-color: #cbd5e1; }

.border-humidity { border-color: #38bdf8; }
.bg-humidity { background: linear-gradient(to bottom, #ffffff, #38bdf810); }

.border-pressure { border-color: #a78bfa; }
.bg-pressure { background: linear-gradient(to bottom, #ffffff, #a78bfa10); }

.border-wind { border-color: #34d399; }
.bg-wind { background: linear-gradient(to bottom, #ffffff, #34d39910); }